<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firstapp.jobfixer">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".SessionApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <activity android:name=".UserReplyActivity"/>
        <activity android:name=".AdminReplyActivity" />
        <activity android:name=".UserRequestsActivity"/>
        <activity android:name=".AdminRequestsActivity" />
        <activity android:name=".HelpCenterActivity" />
        <activity android:name=".SearchActivity" />

        <activity android:name=".UserViewAppliedCompanyRequestActivity" />
        <activity android:name=".CompViewAllApplicantJobRequestActivity" />
          
        <activity android:name=".CompanyViewResumeActivity" />
        <activity android:name=".ResumeMain" />
        <activity android:name=".ComReplyToJobRequestedUserActivity" />
        <activity android:name=".AdminLoginActivity"/>
        <activity android:name=".UserRegisterActivity" />
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".JobViewForUserActivity" />
        <activity android:name=".JobAdAdminViewActivity"/>
        <activity android:name=".JobAdUpdateActivity" />
        <activity android:name=".JobAdCreateActivity" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".CompanyHomeActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".UserViewJobActivity">

        </activity>
        <activity android:name=".CompanyViewJobActivity"/>
        <activity android:name=".CompanyAddJobActivity"/>
        <activity android:name=".CompanyEditJobActivity"/>


        <activity android:name=".ViewResume"/>
        <activity android:name=".UpdateResume"/>
        <activity android:name=".CreateResume"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>