<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firstapp.jobfixer">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
 <!-- **************************Nushky**************************************************** -->
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <activity android:name=".UserReplyActivity"></activity>
        <activity android:name=".AdminReplyActivity" ></activity>
        <activity android:name=".UserRequestsActivity" >  <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter> </activity>
        <activity android:name=".AdminRequestsActivity" > </activity>
        <activity android:name=".HelpCenterActivity" > </activity>
        <activity android:name=".SearchActivity">
 <!-- **************************Nushky**************************************************** -->
        android:theme="@style/AppTheme">
 <!-- **************************Nushky**************************************************** -->
        <activity android:name=".CompanyViewResumeActivity"></activity>
        <activity android:name=".ResumeMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 <!-- **************************Nushky**************************************************** -->

        </activity>
 <!-- **************************Nushky**************************************************** -->


        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".CompanyHomeActivity" />
        <activity android:name=".MainActivity" />
 <!-- **************************Nushky**************************************************** -->
 <!-- **************************Nushky**************************************************** -->
      
        <activity android:name=".UserViewJobActivity">  <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter> </activity>
        <activity android:name=".CompanyViewJobActivity"></activity>
        <activity android:name=".CompanyAddJobActivity"> </activity>
        <activity android:name=".CompanyEditJobActivity"></activity>
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".CompanyHomeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CompanyViewResumeActivity"> </activity>
        <activity android:name=".ResumeMain"> </activity>
 <!-- **************************Nushky**************************************************** -->
        <activity android:name=".ViewResume"></activity>
        <activity android:name=".UpdateResume"></activity>
        <activity android:name=".CreateResume"></activity>
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".CompanyHomeActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
 <!-- **************************Nushky**************************************************** -->
 <!-- **************************Nushky**************************************************** -->
=======
 <!-- **************************Nushky**************************************************** -->
    </application>

</manifest>